aside {
    position: fixed;
    background-color: var(--color-theme);
    max-width: 10em;
    height: calc(100dvh - 3.75em);
    padding-right: 1em;
}

main {
    min-height: calc(100dvh - (3.75em + (var(--numb-fifty) * 2)));
    width: calc(100% - (10em + (var(--numb-fifty) * 2)));
    margin-left: 10em;
    margin-top: 3.75em;
    padding: var(--numb-fifty);
    transition: 0.1s;
}

.camp-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1.5em;
}

.camp-field {
    background-color: var(--color-theme);
    padding: var(--numb-twenty-five);
    border-radius: var(--numb-twelve);
    border: var(--color-line) solid var(--numb-one);
}

.camp-limit {
    display: flex;
    gap: var(--numb-fifty);
    width: 100%;
}

.camp-field.pdf,
.camp-field.full {
    min-width: 14em;
    min-height: calc(100dvh - (3.9em + (var(--numb-fifty) * 3)));
    flex-direction: column;
    align-items: center;
}

.camp-field.full {
    width: 100%;
}

@media (max-width: 862px) {
    main {
        min-height: calc(100dvh - (3.75em + (var(--numb-twenty-five) * 2)));
        width: calc(100% - (10em + (var(--numb-twenty-five) * 2)));
        padding: var(--numb-twenty-five);
    }

    .camp-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .pageQR-camp {
        gap: var(--numb-twenty-five);
    }

    .camp-field.pdf,
    .camp-field.qrcode {
        height: calc(100dvh - (3.9em + (var(--numb-twenty-five) * 4)));
    }
}